/* Navigation */
.sm-nav {
  background-color: #2a2a2a;
}

.main-nav-container {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.main-nav-container a:hover {
  color: #a1c900 !important;
  text-decoration: none;
}

.header-actions {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 952px;
  margin: 20px;
}

.input-group {
  background-color: #555;
  width: 50%;
  padding: 5px 10px;
}

.input-group input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  width: 90%;
}

.input-group input:focus {
  outline: none;
}

.input-icon {
  position: absolute;
  right: 0;
  top: 0;
  background: url(assets/search-icon.png);
}

.action-links a {
  margin-left: 25px;
}

.spacer {
  grid-column: 1 / -1;
  padding: 10px 0;
  background-color: #f4f2ed;
  color: rgba(12, 11, 8, 0.75);
  text-align: center;
  font-size: 12px;
}

.hero-container {
  background-image: url(/assets/live.webp);
  background-size: 100% 800px;
}

.hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 32px 24px 24px 24px;
  right: 160px;
  top: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 440px;
  height: 272px;
  border-radius: 5px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.hero-cta h1 {
  text-align: center;
  line-height: 1;
}

.hero-cta p {
  text-align: center;
  margin: 15px 0;
}

.hero-sml-txt {
  font-size: 12px;
}

/* Main Content */
.top-prod-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.cat-header {
  font-weight: 500;
  padding: 36px 0 20px 0;
}

.prod-item-img {
  position: relative;
  height: 244px;
  width: 244px;
  padding: 12px;
  -webkit-box-shadow: inset 0 0 80px #dcd6cb;
          box-shadow: inset 0 0 80px #dcd6cb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prod-item-img:hover {
  -webkit-box-shadow: inset 0 0 80px #ece6db;
          box-shadow: inset 0 0 80px #ece6db;
}

.prod-item-img img {
  position: absolute;
  top: 15%;
  left: 15%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 70%;
  height: 70%;
}

.prod-item p {
  margin: 20px 0;
}

.prod-spacer-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-top: 0.5px gray solid;
  border-bottom: 0.5px gray solid;
}

.prod-spacer-cta button {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 8px 16px;
  background: #c7370f;
  -webkit-box-shadow: inset 0 0 0 0.1rem #c7370f;
          box-shadow: inset 0 0 0 0.1rem #c7370f;
  margin-left: 20px;
}

.prod-spacer-cta button:hover {
  color: #c7370f;
  fill: #c7370f;
  background-color: #fde2e2;
  -webkit-box-shadow: inset 0 0 0 0.3rem #c7370f, 0 0.2rem 0.2rem 0 rgba(12, 11, 8, 0.2);
          box-shadow: inset 0 0 0 0.3rem #c7370f, 0 0.2rem 0.2rem 0 rgba(12, 11, 8, 0.2);
}
/*# sourceMappingURL=main.css.map */